* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes imageShow {
    from {
        opacity: 0;
        width: 30%;
        margin: 0 33%;
        margin-top: 12%;
    }

    50% {
        opacity: 1;
        width: 30%;
        margin: 0 33%;
        margin-top: 12%;
    }

    to {
        opacity: 0;
        width: 5%;
        margin: 0 46%;
        margin-top: 24%;
    }
}

@keyframes showGui {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showAttribute {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

h2 {
    font-size: 2vw;
    position: absolute;
    width: 95%;
    text-align: right;
    margin-top: 1vw;
}

#attributeDisplay {
    opacity: 0;
    width: 95%;
    animation-duration: 2s;
    text-align: center;
    color: blue;
}

#memoryPortion #displayImage1 {
    position: fixed;
    display: block;
    margin: 0 35%;
    margin-top: 200px;
    opacity: 0;
    width: 100%;
    animation: none;
    animation-name: imageShow;
    animation-iteration-count: 1;
}

#playerPortion {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    display: block;
    margin: 2% 23% 0;
    width: 100%;
    opacity: 0;
}

#playerPortion .symbolButton {
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 25vw;
    height: 25vw;
}

#ClubButton {
    background-image: url("../symbols/Club.png");
}
#DiamondButton {
    background-image: url("../symbols/Diamond.png");
}
#HeartButton {
    background-image: url("../symbols/Heart.png");
}
#SpadeButton {
    background-image: url("../symbols/Spade.png");
}

#playerPortion h1 {
    font-size: 2vw;
    margin: 0 18%;
}

@media only screen and (max-width: 768px) {
    #playerPortion h1 {
        font-size: 5vw;
        margin: 0 6%;
    }
    h2 {
        font-size: 5vw;
    }
}