* {
    margin: 0;
    padding: 0;
}

@keyframes imageShow {
    from {
        opacity: 0;
        width: 400px;
        margin-top: 200px;
    }

    50% {
        opacity: 1;
        width: 400px;
        margin-top: 200px;
    }

    to {
        opacity: 0;
        width: 50px;
        margin-top: 350px;
    }
}

#memoryPortion #displayImage {
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    opacity: 0;
    width: 400px;
    animation-name: imageShow;
    animation-iteration-count: infinite;
}