* {
    margin: 0;
    padding: 0;
}

@keyframes imageShow {
    from {
        opacity: 0;
        width: 348px;
        margin-top: 200px;
    }

    50% {
        opacity: 1;
        width: 348px;
        margin-top: 200px;
    }

    to {
        opacity: 0;
        width: 50px;
        margin-top: 350px;
    }
}

#memoryPortion img {
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    width: 348px;
    opacity: 0;
    animation-name: imageShow;
    animation-duration: 2s;
}