* {
    margin: 0;
    padding: 0;
}

@keyframes imageShow {
    from {
        opacity: 0;
        width: 40%;
        margin: 0 30%;
        margin-top: 12%;
    }

    50% {
        opacity: 1;
        width: 40%;
        margin: 0 30%;
        margin-top: 12%;
    }

    to {
        opacity: 0;
        width: 10%;
        margin: 0 44%;
        margin-top: 24%;
    }
}

@keyframes showGui {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#memoryPortion #displayImage1 {
    position: fixed;
    display: block;
    margin: 0 35%;
    margin-top: 200px;
    opacity: 0;
    width: 100%;
    animation: none;
    animation-name: imageShow;
    animation-iteration-count: 1;
}

#playerPortion {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    display: block;
    margin: 0 17%;
    width: 100%;
    opacity: 1;
}

#playerPortion .symbolButton {
    background-size: cover;
    width: 15vw;
    width: 15vw;
}

#ClubButton {
    background-image: url("../symbols/Club.png");
}
#DiamondButton {
    background-image: url("../symbols/Diamond.png");
}
#HeartButton {
    background-image: url("../symbols/Heart.png");
}
#SpadeButton {
    background-image: url("../symbols/Spade.png");
}

#playerPortion h1 {
    font-size: 2vw;
    margin: 0 26%;
}